@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

@font-face {
  font-family: 'bernier_regularregular';
  src: url('./assets/fonts/bernierregular-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/bernierregular-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'levirebrushedregular';
  src: url('./assets/fonts/levirebrushed-webfont.woff2') format('woff2'),
       url('./assets/fonts/levirebrushed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('./assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('./assets/fonts/roboto-light-webfont.woff2') format('woff2'),
       url('./assets/fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'robotomedium';
  src: url('./assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('./assets/fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoregular';
  src: url('./assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@mixin font($style: r-regular){
  @if $style == r-regular {
      font-family: 'robotoregular';
  }

  @if $style == r-bold {
      font-family: 'robotobold';
  }
  
  @if $style == r-medium {
      font-family: 'robotomedium';
  }

  @if $style == r-light {
      font-family: 'robotolight';
  }

  @if $style == l-regular {
      font-family: 'levirebrushedregular';
  }

  @if $style == b-regular {
      font-family: 'bernier_regularregular';
  }

}