.footer{
    width: 100%;
    background-color: rgba(#373e42, 0.5);
}

.footer__row{
    display: flex;
}

.footer__row_border_bottom{
    border-bottom: 1px solid rgba(#000000, 0.1);
    opacity: 0,5;
}

.footer__col{
    width: 50%;
    color: rgba(#ffffff, 0.5);
}

.nav{
    display: flex;
}